<div class="big_wrapper">
  <div class="wrapper" id="one">
	<div class="key_point_outer">
	  <div class="key_point">
		<h1>
		  Pikmoments is your personal photographer
		</h1>
	  </div>
	  <div class="point_detail">
		<p>
		  Pikmoments takes pictures at the right moments, hanging on the wall, while you are enjoying your life.
		<p>
	  </div>
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
	<div class="key_point_outer right">
	  <div class="key_point">
		<h1>
		  Capture smiles forever
		</h1>
	  </div>
	  <div class="point_detail">
		<p>
		  Pikmoments knows when you are smiling and laughing. It also knows not to take photos when no one is in the room.
		<p>
	  </div>
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
	<div class="key_point_outer">
	  <div class="key_point">
		<h1>
		  Get photos instantly on your phone
		</h1>
	  </div>
	  <div class="point_detail">
		<p>
		  No more missing out on your kids' cute antics while you are off to work. PikMoments will keep sending you photos and videos of your loved ones on your phone.
		<p>
	  </div>
	</div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
	<div class="key_point_outer right">
	  <div class="key_point">
		<h1>
		</h1>
	  </div>
	  <div class="point_detail">
	  </div>
	</div>
  </div>
</div>
