<section id="projects" class="pulldown">
  <div class="wrapper">
    <div class="section-heading">
      <h2>PROJECTS</h2>
    </div>
    <div class="rows bottom-margin">
      <div class="col">
        <div class="project-item" id="one">
          <a href="/project1" target="_blank">
            <div class="project-info">
              <h1>PikMoments</h1>
              <p>Your personal photographer</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="project-item" id="two">
          <a href="/project1" target="_blank">
            <div class="project-info">
              <h1>PikVids</h1>
              <p>A social network with a combination of images and videos</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="project-item" id="three">
          <a href="/project1" target="_blank">
            <div class="project-info">
              <h1>Home Automation</h1>
              <p>Control your lights and fans by calling out to them</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  <div class="rows bottom-margin">
    <div class="col">
      <div class="project-item" id="one">
        <a href="/project1" target="_blank">
          <div class="project-info">
            <h1></h1>
            <p>Data mining for understanding </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="project-item" id="two">
        <a href="/project1" target="_blank">
          <div class="project-info">
            <h1>Machine Learning</h1>
            <p>Blah blah blah</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="project-item" id="three">
        <a href="/project1" target="_blank">
          <div class="project-info">
            <h1>Advanced Information Retrieval</h1>
            <p>Blah blah blah</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="resume">
  <div class="wrapper">
    <div class="section-heading">
      <h2>RESUME</h2>
    </div>
    <div id="resume-content">
      <div id="resume-point">
        <h4> <span class="resume-position">Intern</span> Google </h4>
        <h5> May to Aug 2014, Mountain View </h5>
        <p> Developed a data presentation tool from scratch for the legal team as an intern with the Search Infrastructure Team </p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">Teaching Assistant</span> UIUC </h4>
        <h5> Aug 2012 to Present, Illinois </h5>
        <p> Helped in creating assignments, grading and course management as a TA for Database Management Systems and Advanced Data Mining courses </p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">Intern</span> Abode Systems</h4>
        <h5> May to Jul 2011, Bangalore, India </h5>
        <p> Developed a content-enhancement system to be used in e-Learning systems as an intern with Advanced Technology Labs </p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">Masters Student</span> UIUC</h4>
        <h5> Aug 2012 to May 2014, Illinois </h5>
        <p> Majoring in Computer Science, working on traffic-data mining to find patterns, which can be used in route-prediction systems.</p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">B. Tech Student</span> IIT Roorkee </h4>
        <h5> Aug 2008 to May 2012, Roorkee, India </h5>
        <p>Graduated with a degree in Computer Science and Engineering with a GPA of 9.2 on a scale of 10</p>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="wrapper">
    <div class="section-heading">
      <h2>ABOUT</h2>
    </div>
    <div id="about-photo">
      <%= image_tag("tanvi.jpg", :size => "200x200", :class => "photo") %>
    </div>
    <div id="about-writeup">
      <p>
        Hello! I am Tanvi. I am a Developer, Innovator and Entrepreneur and I love to work on new, exciting things. I am the Co-Founder and CTO of PikMoments, and hope to revolutionize the people capture memories. Currently, I am doing Masters in Computer Science from University of Illinois, Urbana-Champaign, with a focus on Data Mining. I love travelling, cooking, and reading fiction in my free time.
      </p>
    </div>
  </div>
</section>