<section id="projects" class="pulldown">
  <div class="wrapper">
    <div class="section-heading">
        <h2>RESEARCH PROJECTS</h2>
    </div>
    <div class="rows bottom-margin">
        <div class="col">
            <div class="project-item" id="one">
                <a href="/project1" target="_blank">
                    <div class="project-info">
                        <h1>BLAH</h1>
                        <p>Blah blah blah</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="two">
              <a href="/project1" target="_blank">
                <div class="project-info">
                  <h1>BLAH</h1>
                  <p>Blah blah blah</p>
                </div>
              </a>
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="three">
              <a href="/project1" target="_blank">
                <div class="project-info">
                  <h1>BLAH</h1>
                  <p>Blah blah blah</p>
                </div>
              </a>
            </div>
        </div>
    </div>
    <div class="rows bottom-margin">
        <div class="col">
            <div class="project-item" id="one">
              <a href="/project1" target="_blank">
                <div class="project-info">
                  <h1>BLAH</h1>
                  <p>Blah blah blah</p>
                </div>
              </a>
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="two">
              <a href="/project1" target="_blank">
                <div class="project-info">
                  <h1>BLAH</h1>
                  <p>Blah blah blah</p>
                </div>
              </a>
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="three">
              <a href="/project1" target="_blank">
                <div class="project-info">
                  <h1>BLAH</h1>
                  <p>Blah blah blah</p>
                </div>
              </a>
            </div>
        </div>
    </div>
  </div>
</section>

<section id="awards">
    <div class="wrapper">
    <div class="section-heading">
        <h2>AWARDS</h2>
        <p>
Pikmoments is a smart camera that automatically takes amazing pictures and short videos, just at the right moments.

Just place it on your wall or center table, and it will use smile and laughter detection algorithms to automatically create memorable moments for you.
</p>
    </div>
    </div>
</section>


<section id="about">
    <div class="wrapper">
        <div class="section-heading">
            <h2>ABOUT ME</h2>
<p>
Pikmoments is a smart camera that automatically takes amazing pictures and short videos, just at the right moments.

Just place it on your wall or center table, and it will use smile and laughter detection algorithms to automatically create memorable moments for you.
</p>
        </div>
    </div>
</section>