<section id="photographer_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="photographer">
    <div class="key_point">
      <h1>
      Bring home your personal photographer
      </h1>
      <p>
      Pikmoments is a smart camera that automatically takes amazing pictures and short videos, just at the right moments.
      </p>
      <p>
        Just place it on your wall or center table, and it will use smile and laughter detection algorithms to automatically create memorable moments for you.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>

<section id="phoneAndSocial_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="phoneAndSocial">
    <div class="key_point">
      <h1>
        Photos delivered directly to your phone
      </h1>
      <p>
      We know you are always on the move, so we make sure you never miss out on the good things. Pikmoments will send every unique moment right to your phone, so that you always feel connected to your home, people and ofcourse, your pets.
      </p>
      <p>
        Store these photographs or share them with your friends, you are in total control.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>

<section id="crystal_clear_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="crystal_clear">
    <div class="key_point">
      <h1>
      5MP camera to capture crystal clear photographs
      </h1>
      <p>
     Pikmoments uses a brilliant 5MP camera with well-thought light correction algorithms, so that all your pictures are life-like.
     </p>
     
     <p>
     It comes with a wide angle lens, so that you can place the device anywhere in the room, without giving a thought.
      <p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>
<section id="portable_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="portable">
    <div class="key_point">
      <h1>
        Super portable with a long battery life.
      </h1>
      <p>
        Pikmoments is amazingly portable, with a 20 hour battery life. Just put it in place before the big party and capture all the silly and cute moments.
      </p>
    </div>
    <div class="key_point_image">
      <div class="hours_animation">
        <div id="battery_hours">20</div>
        <div id="battery_hours_label">Hrs</div>
      </div>

    </div>
  </div>
</section>
<section id="cloud_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="cloud">
    <div class="key_point">
      <h1>
        Cloud backup of all your moments
      </h1>
      <p>
        Using built-in 802.11n wireless networking, your device is always connected to the internet, so your photos are always backed to the cloud.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>
<section id="secure_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="secure">
    <div class="key_point">
      <h1>
        All your photos and videos are safe and secure
      </h1>
      <p>
        Nobody other than you has access to your images. We understand that this is about your loved ones and we take their privacy a little too seriously.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>
<section id="subscribe_outer" class="big_wrapper scrollable_section">
  <div class="wrapper" id="subscribe">
	  <div class="subscribe_call">
		<h3>
		  If you want to be notified when our KickStarter campaign comes live, enter your email.
		</h3>
	  </div>
	  <div id ="main_subscribe_form_container">
		<%= render '/homepage/subscribe' %>
		<%= render '/follow' %>
	  </div>
  </div>
</section>
