<section id="projects" class="pulldown">
  <div class="wrapper">
    <div class="section-heading">
        <h2>RESEARCH PROJECTS</h2>
    </div>
    <div
    <div class="rows bottom-margin">
        <div class="col">
            <div class="project-item" id="one">
                <a href="/project1" target="_blank">
                    <div class="project-info">
                        <h1>Blah</h1></hr>
                        <p>Blah blah blah</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="two">
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="three">
            </div>
        </div>
    </div>
    <div class="rows bottom-margin">
        <div class="col">
            <div class="project-item" id="one">
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="two">
            </div>
        </div>
        <div class="col">
            <div class="project-item" id="three">
            </div>
        </div>
    </div>
  </div>
</section>