<section id="photographer_outer" class="big_wrapper">
  <div class="wrapper" id="photographer">
    <div class="key_point">
      <h1>
      Bring home your personal photographer
      </h1>
      <p>
      Pikmoments is a smart camera that automatically takes amazing photographs and short videos at the right moments. 
      </p>
      <p>
        Just install it on your wall or table, and it will use intelligent algorithms to understand when you are smiling or laughing, and will capture those moments for you.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>

<section id="phoneAndSocial_outer" class="big_wrapper">
  <div class="wrapper" id="phoneAndSocial">
    <div class="key_point">
      <h1>
        Photos delivered directly to your phone
      </h1>
      <p>
      We know you are always on the move, so we make sure you never miss the good things. Pikmoments will send the photos it is taking at home, instantly to your phone so you are always connected to your home, people and pets.
      </p>
      <p>
        You can store these photos to your phone, or share them with friends.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>

<section id="crystal_clear_outer" class="big_wrapper">
  <div class="wrapper" id="crystal_clear">
    <div class="key_point">
      <h1>
      5MP camera to capture crystal clear photographs
      </h1>
      <p>
     Pikmoments uses a 5MP camera with auto-focus, so your photos are always sharp and amazing. It also has a 180 degree field of view, so you can place the device anywhere in the room, without having to think a bit.
      <p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>
<section id="portable_outer" class="big_wrapper">
  <div class="battery_animation">
    <%= image_tag("keypointImages/green.png", :id =>"full") %>
  </div>
  <div class="wrapper" id="portable">
    <div class="key_point">
      <h1>
        Super portable with a long battery life.
      </h1>
      <p>
        Pikmoments is amazingly portable, with a 20 hour battery life. Just put it in place before the big party and capture all the silly and cute moments.
      </p>
    </div>
    <div class="key_point_image">
      <div class="hours_animation">
        <div id="battery_hours">20</div>
        <div id="battery_hours_label">Hrs</div>
      </div>

    </div>
  </div>
</section>
<section id="cloud_outer" class="big_wrapper">
  <div class="wrapper" id="cloud">
    <div class="key_point">
      <h1>
        Cloud backup of all your moments
      </h1>
      <p>
        Using in-built 802.11 b/g/n wi-fi, your device is always connected to the internet,so your photos are backed to the cloud constantly.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>
<section id="secure_outer" class="big_wrapper">
  <div class="wrapper" id="secure">
    <div class="key_point">
      <h1>
        All your photos and videos are safe and secure
      </h1>
      <p>
        Nobody other than you has access to your images. We understand that this is about your loved ones and we take their privacy a little too seriously.
      </p>
    </div>
    <div class="key_point_image">
    </div>
  </div>
</section>
