<section id="about">
  <div class="wrapper">
    <div id="about-photo">
      <%= image_tag("tanvi.jpg", :size => "200x200", :class => "photo") %>
    </div>
    <div id="about-writeup">
      <p>
        Hello! I am Tanvi. I am a Developer, Innovator and Entrepreneur and I love to work on new, exciting things. I am the Co-Founder and CTO of PikMoments, and hope to revolutionize the people capture memories. Currently, I am doing Masters in Computer Science from University of Illinois, Urbana-Champaign, with a focus on Data Mining. I love travelling, cooking, and reading fiction in my free time.
      </p>
    </div>
  </div>
</section>

<section id="projects">
  <div class="wrapper">
    <div class="section-heading">
      <h2>PROJECTS</h2>
    </div>
    <div class="rows bottom-margin">
      <div class="col">
				<a href="http://www.pikmoments.com" target="_blank">
					<div class="project-item" id="pikmoments">
            <div class="project-info">
              <h1>PikMoments</h1>
              <p>Smart camera that automatically captures memories for you</p>
            </div>
					</div>
				</a>
      </div>
      <div class="col">
        <div class="project-item" id="pikvids">
            <div class="project-info">
              <h1>PikVids</h1>
              <p>Social platform to create and share collages of photos and videos</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="project-item" id="snapsmart">
            <div class="project-info">
              <h1>SnapSmart</h1>
              <p>Home automation system to give phone and voice control to your lights</p>
            </div>
        </div>
      </div>
    </div>
  <div class="rows bottom-margin">
    <div class="col">
      <div class="project-item" id="trafficmine">
          <div class="project-info">
            <h1>TrafficMine</h1>
            <p>Mining periodic patterns from traffic speed data to create a network of traffic monitoring stations </p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="project-item" id="authormap">
          <div class="project-info">
            <h1>MapAuthor</h1>
            <p>A semantic approach to identify the author of a blog article given a small training set </p>
          </div>
      </div>
    </div>
		<div class="col">
      <div class="project-item" id="comnotes">
          <div class="project-info">
            <h1>Comprehensive Notes</h1>
            <p>Enhancing a PPT by appending related content found based on keyword identification from the text </p>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="resume">
  <div class="wrapper">
    <div class="section-heading">
      <h2>WORK AND EDUCATION</h2>
    </div>
    <div id="resume-content">
      <div id="resume-point">
        <h4> <span class="resume-position">Intern</span> Google </h4>
        <h5> May to Aug 2013, Mountain View </h5>
        <p> Developed a data presentation tool from scratch for the legal team as an intern with the Search Infrastructure Team </p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">Teaching Assistant</span> UIUC </h4>
        <h5> Aug 2012 to Present, Illinois </h5>
        <p> Helped in creating assignments, grading and course management as a TA for Database Management Systems and Advanced Data Mining courses </p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">Intern</span> Abode Systems</h4>
        <h5> May to Jul 2011, Bangalore, India </h5>
        <p> Developed a content-enhancement system to be used in e-Learning systems as an intern with Advanced Technology Labs </p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">Masters Student</span> UIUC</h4>
        <h5> Aug 2012 to May 2014, Illinois </h5>
        <p> Majoring in Computer Science, working on traffic-data mining to find patterns, which can be used in route-prediction systems.</p>
      </div>
      <div id="resume-point">
        <h4> <span class="resume-position">B. Tech Student</span> IIT Roorkee </h4>
        <h5> Aug 2008 to May 2012, Roorkee, India </h5>
        <p>Graduated with a degree in Computer Science and Engineering with a GPA of 9.2 on a scale of 10</p>
      </div>
    </div>
  </div>
</section>

<section id="publications">
  <div class="wrapper">
    <div class="section-heading">
      <h2>PAPERS AND AWARDS</h2>
    </div>
    <div id="resume-content">
      <div id="resume-point">
        <h5> August 2013 </h5>
        <p>
          Jindal, Tanvi, Prasanna Giridhar, Lu-An Tang, Jun Li, and Jiawei Han. "Spatiotemporal periodical pattern mining in traffic data." In Proceedings of the 2nd ACM SIGKDD International Workshop on Urban Computing, p. 11. ACM, 2013.
        </p>
      </div>
    </div>
		<div id="resume-content">
      <div id="resume-point">
        <h5> May 2013 </h5>
        <p>
				2013 Grace Hopper Celebration Scholarship given by Computer Science Department, UIUC.
        </p>
      </div>
    </div>
  </div>
</section>

