<section id="photographer_outer" class="big_wrapper">
  <div class="wrapper" id="photographer">
	<div class="key_point">
	  <h1>
		Bring home your personal photographer
	  </h1>
	  <p>
		Pikmoments takes pictures at the right moments, hanging on the wall, while you are enjoying your life.
	  <p>
	</div>
	<div class="key_point_image">
	</div>
  </div>
</section>

<section class="big_wrapper" id="smiles_outer">
  <div class="wrapper" id="smiles">
	<div class="key_point_image">
	</div>
	<div class="key_point">
	  <h1>
		Capture smiles forever
	  </h1>
	  <p>
		Pikmoments knows when you are smiling and laughing. It also knows not to take photos when no one is in the room.
	  </p>
	</div>
  </div>
</section>

<section class="big_wrapper" id="phone_outer">
  <div class="wrapper" id="phone">
	<div class="key_point">
	  <h1>
		Photos delivered to your phone
	  </h1>
	  <p>
		No more missing out on your kids' cute antics while you are off to work. PikMoments will keep sending you photos and videos of your loved ones on your phone.
	  <p>
	</div>
	<div class="key_point_image">
	</div>
  </div>
</section>
<!---
<section class="big_wrapper" id="four_outer">
  <div class="wrapper" id="four">
	<div class="key_point_outer">
	  <div class="key_point">
		<h1>
		  Works out of the box
		</h1>
	  </div>
	  <div class="point_detail">
		<p>
		  Just keep it on your table or hang it on your wall and start creating memories.
		</p>
	  </div>
	</div>
  </div>
</section>
---!>
