<div class="other_points_container">
  <div class="wrapper clearfix" id="other_points">
	<ul>
	  <li id="section-1">
		<%= image_tag("wifi.png", :size => "30X30") %>
		<h2>Wi-Fi</h2>
		<p>With 802.11 b/g/n available networking, we provide blazing fast and reliable connection to the cloud, so all your pictures are backed up, for you to revisit later.</p>
	  </li>
	  <li id="section-2">
		<%= image_tag("fov.png", :size => "30X30") %>
		<h2>Super Wide Angle Lens</h2>
		<p>A fish eye lens camera with wide field of view (up to 180 deg), get the most out of every room. So, just keep the device anywhere in the room, or hang it on any wall, and enjoy these unique pictures, from anywhere and everywhere!</p>
	  </li>
	  <li id="section-1">
		<%= image_tag("battery.png", :size => "30X30") %>
		<h2>Amazing Battery Life</h2>
		<p>With a battery life of up to 20 hours*, you can just place it in the right spot, before the start of a birthday party, or a family get together. And then the device works hard, to get the best pictures, right to your phone.</p>
	  </li>
	  <li id="section-2">
		<%= image_tag("lock.png", :size => "30X30") %>
		<h2>Safe and Secure</h2>
		<p>We respect your privacy and your pictures. No one gets access to these pictures. Period.</p>
	  </li>
	</ul>
  </div>
</div>