<div class="other_points_container">
  <div class="wrapper clearfix" id="other_points">
	<ul>
	  <li id="section-1">
		<h2>Wi-Fi built in</h2>
		<p>PikMoments will always keep you connected to your loved ones. Get cute, silly and amazing photos anywhere you are. </p>
	  </li>
	  <li id="section-2">
		<h2>Wireless Functioning</h2>
		<p>No wires, no hassles. You can put PikMoments at a different place everyday, so you can catch all moods. </p>
	  </li>
	</ul>
  </div>
</div>