<div class="slideshow">
  <ul class="slides">
    <li id="slide1" class="active" >
      <h1>
		Candid photos. Simplified.
      </h1>
    </li>
    <li id="slide2">
      <h1>
        Make memories everyday
      </h1>
    </li>
    <li id="slide3">
      <h1>
        Capture moments automatically
      </h1>
    </li>
    <li id="slide4">
      <h1>
		Be a part of every moment
      </h1>
    </li>
  </ul>

  <div class="slide-pagination">
    <div id="tab1" class="active" >
    </div>
    <div id="tab2">
    </div>
    <div id="tab3">
    </div>
    <div id="tab3">
    </div>
  </div>

  <div class="slide-arrows">
    <div class="arrow-left">
    </div>
    <div class="arrow-right">
    </div>
  </div>
</div>