<div class="slideshow">

  <div class="slides">
	<div id="slide1" class="active" >
	  <h1>
		Never miss those beautiful moments again.
	  </h1>
	</div>
	<div id="slide2">
	  <h1>
		Take it with you on your adventures.
	  </h1>
	</div>
	<div id="slide3">
	  <h1>
		Candid photos. Simplified.
	  </h1>
	</div>
  </div>

  <div class="slide-pagination">
	<div class="pagination-tabs">
	  <div id="tab1" class="active" >
	  </div>
	  <div id="tab2">
	  </div>
	  <div id="tab3">
	  </div>
	</div>
  </div>
  <div class="wrapper">
	<div class="subscribe_form_container">
	  <div class="subscribe_form">
		<%= render '/homepage/subscribe' %>
	  </div>
	</div>
  </div>
</div>