<div class="subscribe_call">
  <h4>Subscribe for news and early access.</h4>
</div>
<div>
<%= form_tag 'homepage/subscribe', :id => "subscribe_email_form", :method => 'post', data: {remote: true} do %>
	<%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :class=>"text_field"%>
	<%= submit_tag Settings.call_to_action, :class => "subscribe_button" %>
  <% end %>
</div>