Welcome to Pikmoments, <%= @user.email %>
===============================================
 
You have successfully signed up to example.com
.
PikMoments is an amazing way of capturing those precious moments with your loved ones, and sharing and enjoying them together. The device will take well-timed photographs and short videos to store the most beautiful moments. Even when you are not at home, it will keep sending you real-time updates of what fun and crazy things your special people have been up to.
.
We will keep you updated on everything from our side. Your eyes will be the first ones to see the first prototypes, first versions, and backstage action!
.
Excited at being one of the very few people who know about Pikmoments? Share you excitement and spread the word!
.
Have a wonderful day, and create new memories!</p>