<div id="about-content" class="pulldown">
  <div class="wrapper clearfix">
	<div class="about_pikmoments">
	</div>
	<div class="about_founders">
	  <h1 class="team_heading"> Team </h1>
	  <ul class="team">
		<li>
		  <%= image_tag("arpit.jpg", :size => "200x200", :class => "team_image") %>
		  <h1> Arpit Agarwal</h1>
		  <p>Co-Founder, CEO </p>
		</li>
		<li>
		  <%= image_tag("tanvi.jpg", :size => "200x200", :class => "team_image") %>
		  <h1> Tanvi Jindal </h1>
		  <p> Co-Founder, CTO </p>
		</li>
	  </ul>
	</div>
	
</div>
</div>