<div id="about-content" class="pulldown">
  <div class="wrapper clearfix">
	<div class="about_pikmoments">
	</div>
	<div class="about_founders">
	  <h2 class="team_heading"> Team </h2>
	  <ul class="team">
		<li>
		  <a href="http://www.arpitagarwal.com" target="_blank">
			<%= image_tag("aboutus/arpit.jpg", :size => "200x200", :class => "team_image") %>
		  </a>
		  <a href="http://www.arpitagarwal.com" target="_blank">
			<h4> Arpit Agarwal</h4>
		  </a>
		  <p>Co-Founder, CEO </p>
		</li>
		<li>
		  <a href="http://www.tanvijindal.com" target="_blank">
			<%= image_tag("aboutus/tanvi.jpg", :size => "200x200", :class => "team_image") %>
		  </a>
		  <a href="http://www.tanvijindal.com" target="_blank">
			<h4> Tanvi Jindal </h4>
		  </a>
		  <p> Co-Founder, CTO </p>

		</li>
	  </ul>
	</div>
	
</div>
</div>