<div id="about-content" class="pulldown">
  <div class="wrapper clearfix">
	<div class="about-pikmoments">
	</div>
	<div class="about-founders">
	  <ul class="team">
		<li>
		  <%= image_tag("arpit.jpg", :size => "245x326") %>
		  <h1> Arpit Agarwal</h1>
		  <p>Co-Founder, CEO </p>
		</li>
		<li>
		  <%= image_tag("tanvi.jpg", :size => "245x326") %>
		  <h1> Tanvi </h1>
		  <p> Co-Founder, CTO </p>
		</li>
	  </ul>
	</div>
	
</div>
</div>