.battery_animation
{
  display: block;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
}

.battery_animation #full {
  position:absolute;
  z-index:10;
  width: 0px;
  overflow-x: hidden;
  font-weight:bold;
  font-size:2em;
  color:red;
  margin: 0;
  padding: 0;
}

.hours_animation
{
  height: 150px;
  width: 150px;
  float: right;
  border: 1px solid #a4abb1;
  background: #a4abb1;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  display: table;
  
}

.hours_animation #battery_hours
{
  font-size: 40px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  display: inline-block;
  margin-top: 42px;
  margin-right: 10px;
}

.hours_animation #battery_hours_label
{
  font-size: 20px;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  display: inline-block;
  margin-top: 5px;
}

@media screen and (min-width : 320px) and (max-width : 480px)
{
  .battery_animation
  {
    display: none;
  }
}