.battery_animation
{
  display: block;
  width: 50%;
  height: 50px;
  float: left;
}

.battery_animation #empty{
  position:absolute;
  z-index:2;
  color:black;
  font-weight:bold;
  font-size:2em;
  width:100px;
  height:50px;
}
.battery_animation #full {
  position:absolute;
  z-index:10;
  width:100px;
  overflow:hidden;
  font-weight:bold;
  font-size:2em;
  color:red;
}

.hours_animation
{
  height: 100px;
  width: 50%;
  float: right;
}

.hours_animation #battery_hours
{
  height: 100%;
}