section
{
  padding-bottom: 20px;
  box-sizing: border-box;
}
#projects
{
    width: 100%;
    position: relative;
    display: block;
}

.section-heading
{
    margin-top: 60px;
    margin-bottom: 40px;
    display: block;
    width: 100%;
    text-align: center;
    color: #EC8D2D;
    font-weight: bolder;
}

.rows
{
    width: 100%;
    height: 250px;
    display: block;
}

.bottom-margin
{
    margin-bottom: 20px;
}

.col
{
    width: 32%;
    margin-left: 2%;
    margin-right: 0;
    display: block;
    float: left;
    position: relative;
    height: auto;
    box-sizing: border-box;
}

.col:first-child
{
    margin-left: 0;
}

.project-item
{
    width: 100%;
    height: 250px;
    position: relative;
    max-width: 300px;
    height: auto;
    width: 100%;
}

#one, #two, #three
{
    background: url(image_path("random.jpg")) no-repeat center center;
    background-size: 300px 250px;
    background-position: center top;
    height: 250px;
}

.project-info
{
    background: rgba(220,110,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    z-index: 100;
    display: none;
    color: rgba(255,255,255,1);
}

.project-info h1
{
  font-weight: bolder;
  font-size: 26px;
  padding: 60px 10px 10px 10px;
  border-bottom: 1px solid white;
  width: 100%;
}

.project-info p
{
  font-size: 20px;
  padding: 20px 10px 10px 10px;
  width: 100%;
}

.project-item:hover .project-info
{
  display: block;
}

/* iphone */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  
  .rows
  {
    width: 100%;
    height: 810px;
    display: block;
  }
  
  .col
  {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    float: left;
    position: relative;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .col:first-child
  {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .section-heading
  {
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #EC8D2D;
    font-weight: bolder;
  }
  
  .section-heading h2
  {
    font-size: 20px;
  }
    
}

/* iphone landscape */
@media screen and (min-width : 480px) and (max-width : 768px)
{
  .rows
  {
    width: 100%;
    height: 810px;
    display: block;
  }
  
  .col
  {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    float: left;
    position: relative;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .col:first-child
  {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  .section-heading
  {
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #EC8D2D;
    font-weight: bolder;
  }
  
  .section-heading h2
  {
    font-size: 20px;
  }

}
/* ipad landscape*/
@media only screen and (min-width : 769px) and (max-width : 960px)
{
}

@media only screen and (min-width : 960px) and (max-width : 1024 px)
{
  
}
