.big_wrapper {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  background: #fff;
}

.key_point
{
  width: 50%;
  padding: 30px 10px 10px 10px;
}

.point_detail
{
  width: 50%;
  padding: 10px 10px;
}

.point_detail p
{
  line-height: 1.5;
}

#one
{
  background: url(image_path("1-background.png")) no-repeat top left;
  height: 320px;
}

#two
{
  background: url(image_path("2-background.png")) no-repeat top left;
  height: 400px;
}

#three
{
  background: url(image_path("3-background.png")) no-repeat top left;
  height: 320px;
}

#four {
  background: url(image_path("4-background.png")) no-repeat top left;
  height: 400px;
}

.right
{
  float: right;
}
