.big_wrapper {
  display: block;	
  background: #fff;
}

.key_point{
  width: 49%;
  font-weight: normal;
  display: inline-block;
}

.key_point_image
{
  display: none;
}

.key_point h1 {
  color: rgb(0,175,216);
  letter-spacing: 0.5px;
  line-height: 1.25;
  width: 100%;
}

.key_point p {
  font-size: 2em;
  line-height: 1.75;
  letter-spacing: 0.5px;
}

#photographer_outer 
{
  background: url(image_path("keypointImages/personalPhotographer.jpg")) no-repeat center center;
  background-size: 1270px 500px;
  background-position: center top;
  height: 500px;
}

#photographer
{
  height: 500px;
}

#photographer .key_point
{
  margin-top: 70px;
  margin-left: 10%;
}

#phone_outer 
{
  background: url(image_path("keypointImages/phoneAndSocial.jpg")) no-repeat center center;
  background-size: 1270px 500px;
  background-position: center top;
  height: 500px;
}

#phone 
{
  height: 500px;
}

#phone .key_point
{
  margin-top: 70px;
  margin-left: 4%;
}

#crystal_clear_outer
{
  background: url(image_path("keypointImages/cameraAndFishEye.jpg")) no-repeat center center;
  background-size: 1270px 500px;
  background-position: center top;
  height: 500px;
}

#crystal_clear
{
  height: 500px;
}

#crystal_clear .key_point
{
  margin-top: 70px;
  margin-left: 10%;
}

#portable_outer
{
  height: 500px;
  background: url(image_path("keyPoint_portable.png")) no-repeat center center;
  background-size: 945px 500px;
  background-position: center top;
}

#portable
{
  
  height: 500px;
}

#portable .key_point
{
  margin-top: 70px;
  float: left;
}

#portable .key_point_image
{
  width: 45%;
  display: block;
  float: right;
  margin-top: 100px;
  margin-right: 4%;
}


#wireless_outer
{
  height: 500px;
  background: url(image_path("keypointImages/cloudConnectivity.png")) no-repeat center center;
  background-size: 1270px 500px;
  background-position: center top;
}

#wireless
{
  
  height: 500px;
}

#wireless .key_point
{
  margin-top: 70px;
  margin-left: 51%;
}

#secure_outer
{
  background: url(image_path("keypointImages/secure.jpg")) no-repeat center center;
  background-size: 1270px 400px;
  background-position: center top;
  height: 400px;
}

#secure
{
  
  height: 400px;
}

#secure .key_point
{
  margin-top: 70px;
  margin-left: 10%;
}

/* iphone */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .key_point
  {
    display: block;
    width: 100%;
  }
  
  .key_point h1 {
    color: rgb(0,175,216);
    width: 100%;
    font-size: 19px;
    line-height: 1.25;
    text-align: center;
  }
  
  .key_point p {
    line-height: 1.25;
    letter-spacing: 0.1px;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
  }

  #photographer_outer
  {
    background: none;
    height: 500px;
  }
  
  #photographer
  {
    background: none;
    height: 250px;
  }
  
  #photographer .key_point
  {
    margin-top: 30px;
    margin-left: 0%;
  }
  
  #photographer .key_point_image
  {
    padding-top: 20px;
    height: auto;
    background: url(image_path("keyPoint_photographer_mobile.png")) no-repeat center top;
    height: 250px;
  }
  
  #phone_outer
  {
    background: none;
    height: 500px;
  }
  
  #phone
  {
    background: none;
    height: 250px;
  }
  
  #phone .key_point
  {
    margin-top: 30px;
    margin-left: 0%;
  }
  
  #phone .key_point_image
  {
    padding-top: 20px;
    height: auto;
    background: url(image_path("keyPoint_phone_mobile.png")) no-repeat center top;
    height: 250px;
  }
  
  #crystal_clear_outer
  {
    background: none;
    height: 500px;
  }
  
  #crystal_clear
  {
    background: none;
    height: 250px;
    background-size: 100%;
  }
  
  #crystal_clear .key_point
  {
    margin-top: 30px;
    margin-left: 0%;
  }
  
  #crystal_clear .key_point_image
  {
    padding-top: 20px;
    height: auto;
    background: url(image_path("keyPoint_crystal_clear_mobile.png")) no-repeat center top;
    height: 250px;
  }
  
  #portable_outer
  {
    background: none;
    height: 500px;
  }
  
  #portable
  {
    background: none;
    height: 250px;
  }
  
  #portable .key_point
  {
    margin-top: 30px;
    margin-left: 0%;
  }
  
  #portable .key_point_image
  {
    padding-top: 20px;
    height: auto;
    background: url(image_path("keyPoint_portable_mobile.png")) no-repeat center top;
    height: 250px;
  }
  
  #wireless_outer
  {
    background: none;
    height: 500px;
  }
  
  #wireless
  {
    background: none;
    height: 250px;
    background-size: 100%;
  }
  
  #wireless .key_point
  {
    margin-top: 30px;
    margin-left: 0%;
  }
  
  #wireless .key_point_image
  {
    padding-top: 20px;
    height: auto;
    background: url(image_path("keyPoint_wireless_mobile.png")) no-repeat center top;
    height: 250px;
  }
  
  #secure_outer
  {
    background: none;
    height: 500px;
  }
  
  #secure
  {
    background: none;
    height: 250px;
    background-size: 100%;
  }
  
  #secure .key_point
  {
    margin-top: 30px;
    margin-left: 0%;
  }
  
  #secure .key_point_image
  {
    padding-top: 20px;
    height: auto;
    background: url(image_path("keyPoint_secure_mobile.png")) no-repeat center top;
    height: 250px;
  }

}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}
