.other_points_container
{
  background-color: #F0F0F0;
  text-align: center;
  border-top: 10px solid white;
  border-bottom: 10px solid white;

}

#other_points div
{
  display: inline-block;
  width: 40%;
  line-height: 1.75;
  margin: 20px 5%;
  
}

#other_points p{
  text-align: justify;
  padding: 10px 10px 30px 10px;

}

#other_points h2
{
  padding: 10px;
}

#section-1
{
  float: left;
  background: url(asset-path("", "images")) no-repeat center top;
}

#section-2
{
  background: url(asset-path("", "images")) no-repeat center top;
  margin-right: 0px;
  float: right;
}