.slideshow
{
  position: relative;
  width: 100%;
  height: 570px;
  margin: 0px 2px;
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
  box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
}

#slide1
{
  background: url(image-path("1_slide.jpg")) no-repeat top left;
  background-size : 1270px 570px;
}

#slide2
{
  background: url(image_path("2_slide.jpg")) no-repeat top left;
  background-size : 1270px 570px;

}

#slide3
{
  background: url(image_path("3_slide.jpg")) no-repeat top left;
  background-size : 1270px 570px;

}

.slideshow .slides
{
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 8;
  top: 0;
  left: 0;
}

.slideshow .slides h1
{
  text-align: center;
  position: absolute;
  top: 40px;
}

.slideshow .slides div
{
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
}

.slideshow .slides .active
{
  z-index: 10;
}

.slideshow .slides .last-active
{
  z-index: 9;
}

.slideshow .slide-pagination
{
  position: absolute;
  bottom: 20px;
  z-index: 999;
  width: 100%;
  height: 10px;
}

.slideshow .slide-pagination .pagination-tabs
{
  width: 24%;
  position: absolute;
  left: 38%;
}

.slideshow .slide-pagination .pagination-tabs div
{
  display: block;
  float: left;
  width: 20%;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 0px 5px;
}

.slideshow .slide-pagination div.active
{
  background-color: #006600;
  opacity: 1.0;
}

/*

#tab1
{
  background: url(image-path("empty_circle.png")) no-repeat top left;
}

#tab2
{
  background: url(image-path("empty_circle.png")) no-repeat top left;
}

#tab3
{
  background: url(image-path("empty_circle.png")) no-repeat top left;
}
 */





