.slideshow {
	position: relative;
	height: 600px;
}

#slide1 {
	background: url(image-path("1_slide.jpg")) no-repeat top left;
}

#slide2 {
	background: url(image_path("2_slide.jpg")) no-repeat top left;

}

#slide3 {
	background: url(image_path("3_slide.jpg")) no-repeat top left;
}

.slideshow .slides {
	color: rgb(0,0,0);
	height: 100%;
}

.slideshow .slides h1 {
	position: absolute;
	top: 40px;
	left: 200px;
	font-size: 30px;
}

.slideshow .slides div {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	display: block;
}

.slideshow .slides .active {
	z-index: 10;
}

.slideshow .slides .last-active {
	z-index: 9;
}

.slideshow .slide-pagination {
	position: absolute;
	bottom: 20px;
	z-index: 999;
	height: 10px;
	left: 0;
	right: 0;
	display: block;
	
}

.slideshow .slide-pagination .pagination-tabs {
	width: 6%;
	position: absolute;
	left: 47%;
}

.slideshow .slide-pagination .pagination-tabs div {
	display: block;
	float: left;
	width: 20%;
	height: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	margin: 0px 5px;
}

.slideshow .slide-pagination div.active {
	background-color: #00afd8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}

/* Smartphone */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  
}