.slideshow
{
  height: 600px;
  margin-top: 50px;
  position: relative;
}

.slideshow .slides h1
{
	position: absolute;
  text-align: center;
	bottom: 80px;
	right: 20px;
	font-size: 30px;
  width: 45%;
}

#slide1
{
	background: url(image-path("1_slide.jpg")) no-repeat center center;
  background-size: 1270px 600px;
  background-position: center top;
}

#slide2
{
	background: url(image_path("2_slide.jpg")) no-repeat center center;
	background-size: 1270px 600px;
  background-position: center top;

}

#slide3
{
	background: url(image_path("3_slide.jpg")) no-repeat center center;
	background-size: 1270px 600px;
  background-position: center top;

}

#slide4
{
	background: url(image_path("4_slide.jpg")) no-repeat center center;
	background-size: 1270px 600px;
  background-position: center top;
  
}

#slide1 h1
{
  color: #ffffff;
}

.slideshow .slides
{
	color: rgb(0,0,0);
	height: 100%;
  width: 100%;
  position: relative;
  display: block;
  overflow-y: auto;
}

.slideshow .slides li
{
	position: absolute;
	height: 100%;
  width: 100%;
	top: 0;
	left: 0;
	right: 0;
	display: block;
}

.slideshow .slides .active
{
	z-index: 10;
}

.slideshow .slides .last-active
{
	z-index: 9;
}

.slideshow .slide-pagination
{
	position: absolute;
	bottom: 20px;
	z-index: 999;
	height: 10px;
	left: 0;
	right: 0;
	display: block;
	text-align: center;
}

.slideshow .slide-pagination div
{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 5px;
	margin: 3px;
}

.slideshow .slide-pagination div.active
{
	background-color: #00afd8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.slideshow .slide-arrows
{
  position: absolute;
  top: 50%;
	z-index: 999;
	height: auto;
	left: 0;
	right: 0;
	display: block;
  opacity: 0.5;
}

.slideshow .slide-arrows .arrow-left
{
  background: url(image_path("left_arrow.png")) no-repeat center center;
  background-size: 40px 40px;
  background-position: center top;
  width: 40px;
  height:40px;
  margin: 0px 20px;
  float: left;
}

.slideshow .slide-arrows .arrow-right
{
  background: url(image_path("right_arrow.png")) no-repeat center center;
  background-size: 40px 40px;
  background-position: center top;
  width: 40px;
  height:40px;
  margin: 0px 20px;
  float: right;
}


/* Smartphone */
@media screen and (min-width : 320px) and (max-width : 480px)
{
  
  .slideshow
  {
    height: 400px;
    margin-top: 40px;
  }
  
  .slideshow .slide-arrows
  {
    display: none;
  }
  
  .slideshow .slides h1
  {
    position: absolute;
    bottom: 50px;
    left: 5px;
    font-size: 28px;
    width: 100%;
  }
  
  #slide1 h1, #slide2 h1, #slide3 h1, #slide4 h1
  {
    color: #000000;
  }
  
  #slide1
  {
    background: url(image-path("1_slide_mobile.jpg")) no-repeat center center;
    background-size: 480px 400px;
    background-position: center top;
  }
  
  #slide2
  {
    background: url(image_path("1_slide_mobile.jpg")) no-repeat center center;
    background-size: 480px 400px;
    background-position: center top;
    
  }
  
  #slide3
  {
    background: url(image_path("2_slide_mobile.jpg")) no-repeat center center;
    background-size: 480px 400px;
    background-position: center top;
    
  }
  
  #slide4
  {
    background: url(image_path("2_slide_mobile.jpg")) no-repeat center center;
    background-size: 480px 400px;
    background-position: center top;
  }
}

/* iphone landscape */
@media screen and (min-width : 480px) and (max-width : 768px)
{
  .slideshow
  {
    height: 600px;
    margin-top: 50px;
  }
  
  .slideshow .slide-arrows
  {
    display: none;
  }
  
  .slideshow .slides h1
  {
    position: absolute;
    bottom: 50px;
    left: 5px;
    font-size: 28px;
    width: 100%;
  }
  
  #slide1 h1, #slide2 h1, #slide3 h1, #slide4 h1
  {
    color: #000000;
  }
  
  #slide1
  {
    background: url(image-path("1_slide_mobile.jpg")) no-repeat center center;
    background-size: 768px 600px;
    background-position: center top;
  }
  
  #slide2
  {
    background: url(image_path("1_slide_mobile.jpg")) no-repeat center center;
    background-size: 768px 600px;
    background-position: center top;
    
  }
  
  #slide3
  {
    background: url(image_path("2_slide_mobile.jpg")) no-repeat center center;
    background-size: 768px 600px;
    background-position: center top;
    
  }
  
  #slide4
  {
    background: url(image_path("2_slide_mobile.jpg")) no-repeat center center;
    background-size: 768px 600px;
    background-position: center top;
  }
  
}

/* ipad portrait */
@media only screen and (min-width : 768px) and (max-width : 960px)
{
  .slideshow
  {
    height: 454px;
  }
  
  #slide1, #slide2, #slide3, #slide4
  {
    background-size: 960px 454px;
  }
  
}

@media only screen and (min-width : 960px) and (max-width : 1024px)
{
  .slideshow
  {
    height: 484px;
  }
  
  #slide1, #slide2, #slide3, #slide4
  {
    background-size: 1024px 484px;
  }
  
}