.subscribe_form_container
{
  height: 50px;
  z-index: 500;
  width: 100%;
  float: right;
}

.subscribe_email_form
{
  padding: 9px 0px;
  width: 100%;
  background: none;
}

.subscribe_button
{
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 4px 1%;
  margin: 0 auto;
  width: 18%;
  font-size: 15px;
  background-color: #06ba8f;
  float: right;
  color:#ffffff;
}

.text_field
{
  font-size: 15px;
  padding: 3px 1%;
  margin: 0 auto;
  margin-right: 0%;
  width: 78%;
  outline: none;
  border: 1px solid #06ba8f;
  border-radius: 5px;
  display: inline-block;
  background: #e6e6e6;
}

#main_subscribe_form_container
{
  display: block;
  width: 80%;
  margin: 0px 10%;
}

#main_subscribe_form_container .subscribe_email_form
{
  padding: 3px 0px;
  width: 100%;
  background: none;
}

#main_subscribe_form_container .subscribe_button
{
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 12px 1%;
  margin: 0 auto;
  width: 18%;
  font-size: 20px;
  background-color: #06ba8f;   /* green: #06ba8f */
  float: right;
  color:#ffffff;
}

#main_subscribe_form_container .text_field
{
  font-size: 20px;
  padding: 10px 1%;
  margin: 0 auto;
  margin-right: 0%;
  width: 78%;
  outline: none;
  border: 2px solid #06ba8f;
  border-radius: 5px;
  display: inline-block;
  background: #e6e6e6;
}


.text_field::-webkit-input-placeholder {
  color:#555555;
}

.text_field:-moz-placeholder {
  color: #555555;
}

.text_field::-moz-placeholder {
  color: #555555;
}

.text_field:-ms-input-placeholder {
  color: #555555;
}
 
.subscribe_email_form input[type=text]
{
  color: #555555;
}


/* Smartphone */
@media only screen and (min-width : 320px) and (max-width : 480px)
{
  input {
    -webkit-appearance: none;
    border-radius: 0;
  }
  
  .header .subscribe_form_container
  {
    display: none;
  }
  
  .header .subscribe_email_form
  {
    display: none;
  }

  .footer .subscribe_form_container
  {
    height: 50px;
    z-index: 500;
    width: 100%;
    display: block;
    margin-top: 8px;
    background: #000000;
    float: none;
  }
  
  .footer .subscribe_email_form
  {
    padding: 0;
    border-radius: 0px;
    border: 0;
    outline: none;
    width: 94%;
    background-color: white;
  }
  
  .footer .subscribe_button
  {
    display: inline-block;
    border: 0;
    -webkit-border-radius: 0px;
    padding: 4px 0px;
    margin: 0;
    width: 20%;
    font-size: 16px;
    background-color: #06ba8f;
    float: right;
  }
  
  .footer .text_field
  {
    font-size: 16px;
    padding: 4px 0px;
    margin: 0;
    width: 68%;
    outline: none;
    border: 0px;
    border-radius: 0px;
    display: inline;
  }
  
  #main_subscribe_form_container
  {
    display: block;
    width: 96%;
    margin: 0px 2%;
  }
  
  #main_subscribe_form_container .subscribe_button
  {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 16px;
    background-color: #06ba8f;   /* green: #06ba8f */ /*blue: #00afd8 */
    color:#ffffff;
    margin-bottom: 10px;

  }
  
  #main_subscribe_form_container .text_field
  {
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 8px 1%;
    margin: 0 auto;
    margin-right: 0%;
    margin-bottom: 10px;
  }
}

