.subscribe_form_container
{
  height: 50px;
  z-index: 500;
  width: 70%;
  float: right;
}

#subscribe_email_form
{
  padding: 3px 1%;
  border-radius: 5px;
  margin-top: 8px;
  border: 1% solid #CCC;
  outline: none;
  width: 94%;
  background-color: white;
}

.subscribe_call
{
  width: 96%;
  padding: 0% 2%;
}

.subscribe_call h4
{
  width: 100%;
  margin-bottom: 2px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.subscribe_button
{
  display: inline;
  border: 2px solid white;
  border-radius: 5px;
  padding: 3px 1%;
  margin: 0 auto;
  width: 20%;
  font-size: 16px;
  background-color: #00afd8;
  float: right;
}

.text_field
{
  font-size: 16px;
  padding: 3px 1%;
  margin: 0 auto;
  width: 68%;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  display: inline;
}

/* Smartphone */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  .header .subscribe_form_container
  {
    display: none;
  }
  
  .header #subscribe_email_form
  {
    display: none;
  }

  .footer .subscribe_form_container
  {
    height: 40px;
    z-index: 500;
    width: 100%;
    display: block;
    background: #000000;
  }
  
  
}

