#vertical_navigation
{
  position:fixed;
  display: block;
  right: 20px;
  bottom: 40px;
  z-index: 1000;
}

#up_arrow
{
  height: 30px;
  width: 30px;
  background:url(image_path("topSlider.jpg")) no-repeat center center;
  background-size: 30px 30px;
  background-position: center top;
  margin-bottom: 10px;
}

#up_arrow:hover
{
  opacity: 0.7;
}

#down_arrow
{
  height: 30px;
  width: 30px;
  background-color: red;
  background:url(image_path("bottomSlider.jpg")) no-repeat center center;
  background-position: center top;
  background-size: 30px 30px;
}

#down_arrow:hover
{
  opacity: 0.7;
}