<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Get home your personal photographer
      </h3>
      <p>
        PikMoments will take amazing and spontaneous photos all day long. If you have your friends over for a party, everyone can now be in the photos.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Capture smiling faces forever
      </h3>
      <p>
        Smart sensors and Computer Vision algorithms can detect people and their laughing faces, so PikMoments will not take random photographs of walls and floors.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Get photos instantly on your phone
      </h3>
      <p>
        PikMoments will keep sending cute photos of loved ones on your phone even when you are not home, so you never miss out. You can also share photos on Facebook or Instagram.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Installs in a minute
      </h3>
      <p>
        PikMoments comes like a little bundle of joy and will simply sit on your wall and start capturing moments you will always cherish.
      <p>
    </div>
  </div>
</div>