<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
	<h3>Get early access!</h3>
	<%= form_tag "/preorder/prefill", :id => "checkout" do %>
	  <%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email", :class=>"text_field"%>
	  <%= submit_tag Settings.call_to_action, :class => "blue_button reserve" %>
      <% end %>
    <%= render 'preorder/share' %>
  </div>
</div>
