<div class="gray_background" id="faqs">
  <div class="wrapper clearfix pulldown">
    <h1>Frequently Asked Questions</h1>
    <dl>
      <dt>
        What is the expected price?
      </dt>
      <dd>
        The price of the device is expected to be around $200. However, it's pretty early for us to commit.
      </dd>
      <dt>
        How is it different from a surveillance camera?
      </dt>
      <dd>
        This device could be used as a surveillance camera also, but that would be like using an iPhone as a fixed line phone. The amazing software that comes with this device not only gives you an alert whenever it sees any movement nearby, but also sends images to your phone whenever anyone laughs or smiles! So, it's not just a camera capturing video, while hanging on the wall, it's a whole lot more.
      </dd>
      <dt>
        By when can I have the device?
      </dt>
      <dd>
		We are still in the prototyping phase, but your love will definitely motivate us to get things rolling faster! Drop us a line!
      </dd>
      <dt>
        Who all have access to my photographs?
      </dt>
      <dd>
        Your pictures, are yours. And only yours. No one will be able to see it, ever. We take your privacy a little too seriously.
      </dd>
      <dt>
        Would I be flooded with photographs?
      </dt>
      <dd>
        Well, we don't just take any pictures. We capture a lot of moments, but our filtering algorithms limit the number of pictures you get. You can easily choose between getting all the great moments, or only the best of the best moments. This way, we understand your requirements better, and make sure you love every picture we take.
        </dd>
      <dt>
        My photos are on the cloud. But how many photos can stay there?
      </dt>
      <dd>
        We plan to start with free limited cloud space for our users which will be enough to store up to five thousand photographs at a time. Later, more cloud space would be available for purchase.
      </dd>
  </div>
</div>
