#faqs
{
  background: #ffffff;
  line-height: 1.5;
  font-weight: normal;
  padding-bottom: 50px;
}

#faqs h1
{
  width: 100%;
}

#faqs dt
{
  text-decoration: none;
  color: #000000;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 1.8em;
  font-size: 18px;
}

#faqs dd
{
  text-decoration: none;
  color: #737980;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 1.6em;
  font-size: 16px;
  margin-bottom: 15px;
  
}