
// Used in the FAQ
details, summary
{
  outline: none;
}
summary
{
  text-decoration: none;
  color: $summary_color;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 20px;
  line-height: 1.3;

}
summary:hover
{
  text-decoration: underline;
  cursor: pointer;
}
details summary::-webkit-details-marker { display:none; content: ""; }
// Styling the polyfill for browsers that don't support details/summary tags
.no-details details { display: block }
.no-details details > summary::before { content:none }
.no-details details.open > summary::before {   content:none }


