.social
{
  text-align: center;
}

.social a:hover
{
  opacity: 0.7;
}

.social ul
{
  display: block;
  list-style-type: none;
  margin:0;
  padding:0;
}

.social li
{
  display: inline-block;
  border-radius: 50%;
  margin: 0px 5px;
  height: 30px;
  width: 30px;
}

.social #facebook_logo
{
  background: url(image_path("social/facebook_logo.jpg")) no-repeat center center;
  background-size: 30px 30px;
  background-position: center top;
}

.social #twitter_logo
{
  background: url(image_path("social/twitter_logo.jpg")) no-repeat center center;
  background-size: 30px 30px;
  background-position: center top;
}

.social #gplus_logo
{
  background: url(image_path("social/gplus_logo.jpg")) no-repeat center center;
  background-size: 30px 30px;
  background-position: center top;
}

.social #linkedin_logo
{
  background: url(image_path("social/linkedin_logo.jpg")) no-repeat center center;
  background-size: 30px 30px;
  background-position: center top;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
}