.footer
{
  background: rgba(255, 255, 255, 0.5);
  height: 100px;
}

.footer-left
{
  float:left;
  width:50%
}

.footer-right
{
  float:right;
  width:50%
}

.footer-subscribe-container
{
  float: right;
  width: 70%;
  padding: 20px;
}

.footer a
{
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
}

.website-links-container
{
  display: block;
  padding: 15px 10px 10px 10px;;
}

.copyright-container
{
  display: block;
  padding: 10px 10px 15px 10px;
}

.copyright-container h5
{
  font-size: 12px;
}


.website-links
{
  display: block;
}

.website-links li
{
  list-style-type: none;
  display: inline-block;
  margin: 1px 5px;
}