.footer
{
  background: rgba(20, 20, 20, 0.7);
  height: 100px;
  color: #ffffff;

}

.footer-left
{
  float:left;
  width:50%;
}

.footer-right
{
  float:right;
  width:50%;
}

.footer-subscribe-container
{
  float: right;
  width: 70%;
  padding: 20px;
}

.footer a
{
  text-decoration: none;
  font-size: 1.2em;
  color: #ffffff;
}

.footer a:hover
{
  color: rgba(240, 240, 240, 0.6);
}

.website-links-container
{
  display: block;
  padding: 25px 10px 0px 10px;
}

.copyright-container
{
  display: block;
  padding: 10px 10px 15px 10px;
}

.copyright-container h5
{
  font-size: 1.2em;
}


.website-links
{
  display: block;
  margin: 2px 60px;
}

.website-links li
{
  list-style-type: none;
  display: inline-block;
  margin: 1px 5px;
}