#header
{
  display:block;
  border: none;
  width: 100%;
  padding: 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 999;
}

#header #logo
{
  width: 50%;
  float: left;
  height: 100px;
}

#header #logo .thumbnail
{
  float: right;
}

#header #product_name{
  width:100%;
  float: left;
  height: 50px;
  margin-left: 10px;
}

#header #product_name .inner
{
  margin-top: 0px;
}
#header #product_name h1{
  float:left;
  margin-left: 0px;
  color: #550055;
}