#pikmoments_header
{
  border: none;
  a
  {
    border: none !important;
    font-size: inherit !important;
  }
}
#header 
{
  width: 100%;
  padding: 26px 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: #fcfcfc;
  position: relative;
  #logo
  {
      width: 50%;
      float: left;
      height: 100px;
      .thumbnail
      {
          float: right;
      }
  }
  #product_name{
      width:50%;
      float: left;
      height: 100px;
      .inner
      {
          margin-top: 29px;
      }
      h1{
          width:50%;
          float:left;
          margin-left: 0px;
      }
  }
}