#header
{
  display:block;
  border: none;
  width: 100%;
  padding: 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: rgba(20,20,20, 0.7);
  position: fixed;
  z-index: 999;
}

#header #product_name{
  width: 20%;
  float: left;
  height: 45px;
  margin-left: 10px;
  padding-top: 5px;
}

#header #product_name h1{
  width: 100%;
  float:left;
  margin-left: 0px;
  color: #ffffff;
}