$body_background: #E6E6E6;

$primary_font:   "Helvetica Neue";
$secondary_font: "Helvetica";
$tertiary_font:  "Arial";

/* For modern browsers */


.container
{
  width:100%;
  max-width:1270px;
  margin: 0;
  font-size: 62.5%;
  align:center;
}

.wrapper {
  width: 74%;
  margin: 0% 13%;
}

.pulldown
{
  padding-top: 5em;
}

.clearfix:before,
.clearfix:after 
{
  content:"";
  display:table;
}
.clearfix:after 
{
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

p 
{
  font-size: 1.7em;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $body_background;
}

.disabled
{
  opacity: 0.65;
  pointer-events: none;
}

body, input, textarea
{
  font-family: $primary_font, $secondary_font, $tertiary_font;
  -webkit-font-smoothing: antialiased;
}

a 
{
  text-decoration: none;
}

a:hover 
{
  text-decoration: underline;
}

i 
{
  font-style: italic;
}


h1 {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 3em;
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  a
  {
    text-decoration: none;
  }
  a:hover
  {
    text-decoration: none;
  }
}

h2 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-size: 2.6em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 2.2em;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 1.8em;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

h5 {
  font-size: 1.4em;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

.center {
  text-align: center;
}

body.lt-ie9 {
  .subscribe_button {
    background-color: #0D97E6 !important;
    background-image: none !important;
  }
  .subscribe_button:hover {
    background-color: #add8e6 !important;
  }
}