
/* For modern browsers */
.wrapper {
  width: 74%;
  margin: 0% 13%%;
}

.pulldown
{
  padding: 50px 0px;
}

.clearfix:before,
.clearfix:after 
{
  content:"";
  display:table;
}
.clearfix:after 
{
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

p {
  font-size: 12;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  -webkit-font-smoothing: antialiased;
}

code
{
border: 1px solid #CCC;
padding: 1px;
vertical-align: middle;
font-family: "Consolas", "Inconsolata", "Meslo", "Inconsolata-dz", monospace;
text-shadow: none;
font-size: 10pt;
}

html, body {
  width: 100%;
}

body {
  background: $body_background;
}

.disabled
{
  opacity: 0.65;
  pointer-events: none;
}

body, input, textarea
{
  font-size: $font_size;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  -webkit-font-smoothing: antialiased;
}

a 
{
  text-decoration: none;
  color: $link_color;
}

a:hover 
{
  text-decoration: underline;
}


i 
{
  font-style: italic;
}


h1 {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -.05em;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  a
  {
    text-decoration: none;
  }
  a:hover
  {
    text-decoration: none;
  }
}

h2 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-size: 26px;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  font-size: 22px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-top: 3px;
  margin-bottom: 3px;
}

h4 {
  font-size: 18px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-bottom: 2px;
  margin-top: 2px;
}

h5 {
  font-size: 14px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-bottom: 1px;
  margin-top: 1px;
}

.center {
  text-align: center;
}

.button:hover {
  text-decoration: none;
  color: $button_hovered_color;
}

.button:active {
  background: $button_active_background;
  border: 1px solid $button_active_border;
}

body.lt-ie9 {
  .subscribe_button {
    background-color: #0D97E6 !important;
    background-image: none !important;
  }
  .subscribe_button:hover {
    background-color: #add8e6 !important;
  }
}