
/* For modern browsers */
.clearfix:before,
.clearfix:after 
{
  content:"";
  display:table;
}
.clearfix:after 
{
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

 code
 {
  border: 1px solid #CCC;
  padding: 1px;
  vertical-align: middle;
  font-family: "Consolas", "Inconsolata", "Meslo", "Inconsolata-dz", monospace;
  text-shadow: none;
  font-size: 10pt;
 }

html, body {
  width: 100%;
}

body {
  background: $body_background;
}

.disabled
{
  opacity: 0.65;
  pointer-events: none;
}

body, input, textarea
{
  font-size: $font_size;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: $text_color;
  text-shadow: $text_shadow;
  -webkit-font-smoothing: antialiased;
}

a 
{
  text-decoration: none;
  color: $link_color;
}

a:hover 
{
  text-decoration: underline;
}

i 
{
  font-style: italic;
}




// Used in the FAQ
details, summary
{
  outline: none;
}
summary
{
  text-decoration: none;
  color: $summary_color;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 20px;
  line-height: 1.3;

}
summary:hover
{
  text-decoration: underline;
  cursor: pointer;
}
details summary::-webkit-details-marker { display:none; content: ""; }
// Styling the polyfill for browsers that don't support details/summary tags
.no-details details { display: block }
.no-details details > summary::before { content:none }
.no-details details.open > summary::before {   content:none }



h1 {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: bold;
  color: $h1_color;
  letter-spacing: -.05em;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  a
  {
    color: $h1_color;
    text-decoration: none;
  }
  a:hover
  {
    color: $h1_color;
    text-decoration: none;
  }
}

h2 {
  font-family: $primary_font, $secondary_font, $tertiary_font;
  font-size: 26px;
  color: $h2_color;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  font-size: 22px;
  color: $h4_color;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-top: 3px;
  margin-bottom: 3px;
}

h4 {
  font-size: 18px;
  color: $h4_color;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  margin-bottom: 2px;
  margin-top: 2px;
}

h5 {
  font-size: 14px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: $h5_color;
  margin-bottom: 1px;
  margin-top: 1px;
}

.wrapper {
  width: 935px;
  margin: 0px 137px;
}

.center {
  text-align: center;
}

.gray_background 
{
  width:  100%;
  padding: 50px 0px 0px 0px;
  background: $gray_background_top_color; /* Old browsers */
  background: -moz-linear-gradient(top,  $gray_background_top_color 0%, $gray_background_middle_color 50%, $gray_background_bottom_color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gray_background_top_color), color-stop(50%,$gray_background_middle_color), color-stop(100%,$gray_background_bottom_color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f6f6f6', endColorstr = '#fafafa', GradientType = 0);
  border-bottom: 1px solid $gray_background_border_color;
}
/*
.button:hover {
  text-decoration: none;
  color: $button_hovered_color;
}

.button:active {
  background: $button_active_background;
  border: 1px solid $button_active_border;
}

body.lt-ie9 {
  .subscribe_button {
    background-color: #0D97E6 !important;
    background-image: none !important;
  }
  .subscribe_button:hover {
    background-color: #add8e6 !important;
  }
}
 */

