#privacy-content
{
  width: 100%;
  display: block;
  position: relative;
  background : white;
  padding-bottom: 50px;
}

#privacy-content h1
{
  width: 100%;
}


#privacy-content a
{
  color: #00afd8;
}

.privacy-title
{
  display: block;
  padding : 20px 0px 40px 0px;
}

.main-content
{
  display: block;
  font-size: 12px;
}

.main-content p
{
  font-size: 16px;
  margin: 10px 0px;
  line-height: 150%;
  color: #8a9298;
}

.main-content h3
{
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}
