#share_container
{
  #congrats 
  {
    padding: 70px 0;
    h2 
    {
      margin-bottom: 24px;
    }
    p 
    {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  #facebook_button_container
  {
	display: inline-flex;
	padding-right: 26px;
	margin-left: 64px;
  }
  #pin_button_container
  {
	display: inline-flex;
  }
  #tweet_button_container
  {
	display: inline-flex;
  }
}
