#share_container
{
  paddiing-left: 10px;
  margin: 0 auto;
  #congrats 
  {
    padding: 70px 0;
    h2 
    {
      margin-bottom: 24px;
    }
    p 
    {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  #facebook_button_container
  {
	margin: 0 auto;
	display: inline-flex;
	width: 90px;
  }
  #pin_button_container
  {
  	margin: 0 auto;
	display: inline-flex;
	width: 90px;
  }
  #google_plus_button_container
  {
  	margin: 0 auto;
	display: inline-flex;
	width: 90px;
  }
  #tweet_button_container
  {
  	margin: 0 auto;
	display: inline-flex;
	width: 90px;
  }
}
