<div class="footer">
  <div class="wrapper clearfix">
    <%= render 'preorder/copyright' %>
  </div>
  <a href="https://plus.google.com/118324967223424406291" rel="publisher">Google+</a>
</div>
<%= render 'preorder/google_analytics' %>
