<div id="header">
<div class="wrapper clearfix">
    <div id="logo">
    <a href="/">
    <img class="thumbnail" alt="logo pikmoments" src="/assets/website-logo-pikmoments.png" />
    </a>
    </div>

    <div id="product_name">
        <div class="inner">
         <a href="/">
        <h1>
        <%= Settings.product_name %>
        </h1>
        </a>
        </div>
    </div>
</div>
</div>
