<div id="header">
	<div class="wrapper clearfix">
		<h1 id="pikmoments_header"i class="pull-left" >
			<a href="/"><img alt="logo pikmoments" src="/assets/website-logo-pikmoments.png" /><%= Settings.product_name %></a>
		</h1>
  </div>
</div>
