<div id="header">
<div class="wrapper clearfix">
    <div id="logo">
    <a href="/">
    <img class="thumbnail" alt="logo pikmoments" width="100px" height="100px" src="/assets/weblogo.png" />
    </a>
    </div>

    <div id="product_name">
        <div class="inner">
         <a href="/">
        <h1>
        <%= Settings.product_name %>
        </h1>
        </a>
        </div>
    </div>
</div>
</div>
