<div class="gray_background">
  <div class="wrapper clearfix">
	  <div class="main_content"> 
      <h3>Thank you!</h3>
	  <p>
	  Thanks for subscribing! We love you!! 

	  Share this with your friends and family, which will let us bring this device to your doorstep, faster!!
	  </p>

  </div>
  <%= render 'preorder/checkout/sidebar' %> 
  </div>
</div>
