<div class="social">
  <ul>
    <li>
      <a href="https://www.facebook.com/pikmoments", target="_blank">
<%= image_tag("facebook_logo.png", :class => "") %>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=pikmoments", target="_blank">
        <%= image_tag("twitter_logo.png") %>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/u/0/117318481553470230305/posts", target="_blank">
        <%= image_tag("gplus_logo.png") %>
      </a>
    </li>
    <li>
      <a href="http://www.pinterest.com/pikmoments/", target="_blank">
        <%= image_tag("path_logo.png") %>
      </a>
    </li>
  </ul>
</div>