<div class="social">
  <ul>
    <a href="https://www.facebook.com/arpitagarwal89" target="_blank">
      <li id="facebook_logo">
      </li>
    </a>
    <a href="https://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=arpitagarwal89" target="_blank">
      <li id="twitter_logo">
      </li>
    </a>
    <a href="https://plus.google.com/+ArpitAgarwal89" rel="publisher" target="_blank">
      <li id="gplus_logo">
      </li>
    </a>
    <a href="http://www.linkedin.com/in/arpitagarwal89/" target="_blank">
      <li id="linkedin_logo">
      </li>
    </a>
  </ul>
</div>