<div class="social">
  <ul>
    <a href="http://www.facebook.com/sharer.php?u=http://www.pikmoments.com", target="_blank">
      <li id="facebook_logo">
      </li>
    </a>
    <a href="http://twitter.com/share?text=I%20always%20wanted%20this!%20Check%20out%20Pikmoments%20@pikmoments%20&url=http://www.pikmoments.com", target="_blank">
      <li id="twitter_logo">
      </li>
    </a>
    <a href="https://plus.google.com/share?url=http://www.pikmoments.com", target="_blank">
      <li id="gplus_logo">
      </li>
    </a>
    <a href="http://www.linkedin.com/company/pikmoments/", target="_blank">
      <li id="linkedin_logo">
      </li>
    </a>
  </ul>
</div>