<div class="footer">
  <div class="wrapper clearfix">
    <div class="footer-social-container">
        <%= render '/follow' %>
    </div>
    <div class="footer-copyright-container">
        <h5>
            © 2014 Tanvi Jindal.
        </h5>
    </div>
  </div>
</div>
<%= render '/google_analytics' %>