<div class="header container">
  <div class="wrapper clearfix">
	  <div id="name">
		<a href='/'>
		  <h3>TANVI JINDAL</h3>
		</a>
	  </div>
	  <div id="header_right">
      <ul id="page_nav">
        <li>
          <a href="#projects" class="internal_nav"><h4>PROJECTS</h4></a>
        </li>
        <li>
          <a href="#resume" class="internal_nav"><h4>RESUME</h4></a>
        </li>
        <li>
          <a href="#about" class="internal_nav"><h4> ABOUT</h4></a>
        </li>
      </ul>
	  </div>
  </div>
</div>