<div class="header">
  <div class="wrapper clearfix">
	  <div id="product_name">
		<a href='/'>
		  <h1>
			<%= Settings.product_name %>
		  </h1>
		</a>
	  </div>
	  <div id="header_right">
		<div class="website-links-container">
		  <ul class="website-links">
			<li>
			  <%= link_to 'ABOUT US', '/about' %>
			</li>
			<li>
			  <%= link_to 'PRIVACY', '/privacy' %>
			</li>
		  </ul>
		</div>
	  </div>
  </div>
</div>