<div class="header container">
  <div class="wrapper clearfix">
	  <div id="product_name">
		<a href='/'>
		  <h1>
			<%= Settings.product_name %>
		  </h1>
		</a>
	  </div>
	  <div id="header_right">
		<div class="subscribe_form_container">
		  <%= render '/homepage/subscribe' %>
		</div>
	  </div>
  </div>
</div>